{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:@typescript-eslint/recommended"
  ],
  "parserOptions":  {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "rules":  {
    "semi": "off",
    "@typescript-eslint/semi": ["error"],
    "@typescript-eslint/indent": ["error", 2],
    "@typescript-eslint/no-non-null-assertion": 1,
    "@typescript-eslint/no-empty-interface": 1,
    "@typescript-eslint/no-unused-vars": ["error", {
      "args": "none"
    }]
  }
}
