html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#game {
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 640px;
  min-height: 535px;
  background-color: #000;

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 50%;
    background: transparent url('logo.png') no-repeat center center;
    background-size: contain;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  & > canvas {
    position: relative;
    background: transparent;
    z-index: 2;
    width: 100%;
    height: 100%;

    &.sharpen {
      image-rendering: optimizeSpeed;
      image-rendering: -moz-crisp-edges;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: -o-crisp-edges;
      image-rendering: pixelated;
      -ms-interpolation-mode: nearest-neighbor;
    }
  }

  & > video {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 10;
  }
}
